<footer class="footer">

  <a href="#go__up" class="footer__up"><img src="./assets/images/ico-arrow.svg" alt="Enlace a la cabecera"
      title="Inicio" class="footer__up__arrow"></a>


  <div class="footer__links">
    <nav class="footer__links__menu">
      <ul>
        <li><a href="http://hereistoday.com/" target="_blank" title="Go to articles">Articles</a></li>
        <li><a href="http://www.donothingfor2minutes.com/" target="_blank" title="Read our books">Books</a></li>
        <li><a href="https://zoomquilt.org/" target="_blank" title="Come to our events">Events</a></li>
        <li><a href="http://www.mapcrunch.com/" target="_blank" title="Solve your doubts">Reasons</a></li>
        <li><a href="http://games.sticky.tv/cyrkam_airtos/" target="_blank" title="Win time with our tips">Tips</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__links__networks">
      <ul>
        <li><a href="http://sanger.dk/" target="_blank" title="Tweet us">Twitter</a></li>
        <li><a href="http://www.virtual-bubblewrap.com/popnow.shtml" target="_blank" title="Add us">Instagram</a></li>
        <li><a href="http://www.cowabduction.com/" target="_blank" title="Play with us">Mastodon.social</a></li>
      </ul>
    </nav>

    <aside class="footer__links__copy">
      <p class="footer__links__copy__text">&copy2017</p>
      <p class="footer__links__copy__we">
        We <span class="footer__links__copy__heart">&#10084</span> components</p>
    </aside>

  </div>
</footer>
