<footer class="footer">

  <a href="#" class="footer__up"><img src="./assets/images/ico-arrow.svg" alt="Enlace a la cabecera" title="Inicio"
      class="footer__up__arrow"></a>

      
  <div class="footer__links">
    <nav class="footer__links__menu">
        <ul>
          <li>Articles</li>
          <li>Books</li>
          <li>Events</li>
          <li>Reasons</li>
          <li>Tips</li>
        </ul>
      </nav>
    <nav class="footer__links__networks">
        <ul>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Mastodon.social</li>
        </ul>
      </nav>

      <aside class="footer__links__copy">
        <p class="footer__links__copy__text">&copy2017</p>
        <p class="footer__links__copy__we">
          we <span class="footer__links__copy__heart">&#10084</span> components</p>
      </aside>

  </div>
</footer>
