<footer class="footer">

  <a href="#" class="footer__link"><img src="./assets/images/ico-arrow.svg" alt="Enlace a la cabecera" title="Inicio" class="footer__link__arrow"></a>

  <ul class="footer__menu">
    <li>Articles</li>
    <li>Books</li>
    <li>Events</li>
    <li>Reasons</li>
    <li>Tips</li>
  </ul>

  <ul class="footer__networks">
    <li>Twitter</li>
    <li>Instagram</li>
    <li>Mastodon.social</li>
  </ul>

  <div class="footer__copy">
    <p class="footer__copy__text">&copy2017</p>
    <p class="footer__copy__text">
      we <span class="footer__copy__heart">&#10084</span> components</p>
  </div>
</footer>
