<header class="header">
  <a href="#" class="header__menu"><img src="./assets/images/ico-menu.svg" alt="Icono menu" title="Enlace menú"></a>
  <div class="header__text">
    <h1 class="header__text__h1">Anonymous Proxy</h1>
    <p class="header__text__p">In hac habitasse platea dictumst.</p>

    <a href="#" class="header__text__link"><img src="./assets/images/ico-scroll-down.svg" alt="Enlace al pie de pagina"
        title="Enlace al pie de página" class="header__text__link--image"></a>
  </div>
</header>
