<header class="header" id="go__up">
  <a href="#" class="header__menu"><img src="./assets/images/ico-menu.svg" alt="Icono menu" title="Enlace menú"></a>
  <div class="header__text">
    <h1 class="header__text__h1">Anonymous Proxy</h1>
    <h2 class="header__text__h2">In hac habitasse platea dictumst.</h2>

    <a href="#go__down" class="header__text__link" ><img src="./assets/images/ico-scroll-down.svg" alt="Go to the end of webpage"
        title="Enlace al pie de página" class="header__text__link--image"></a>
  </div>
</header>
