<section class="section">

  <h2 class="section__h2">3 Reason to purchase</h2>

  <div class="section__grid">

    <div class="section__reasons">
      <h3 class="section__reasons__h3">Ut sed metus</h3>
      <p class="section__reasons__p">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>

    <div class="section__reasons">
      <h3 class="section__reasons__h3">Curabitur ac erat</h3>
      <p class="section__reasons__p">Mauris mattis urna quis lorem molestie.</p>
    </div>

    <div class="section__reasons">
      <h3 class="section__reasons__h3">Morbi dictumnst</h3>
      <p class="section__reasons__p">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </div>
  
  <a href="#" class="section__button"><span class="section__button--text">More reasons</span></a>
</section>
