.footer {
  display: flex;
  flex-direction: column;
  background-color: #304268;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  font-family: $fontText;
  padding: 0rem 1.5rem 4.5rem 1.5rem;

  &__up {
    width: 4.5rem;
    height: 4.5rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.25rem;
    transform: translateY(-50%);

    &__arrow {
      color: $buttonColor;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__menu,
    &__networks {
      text-transform: uppercase;
      font-size: 1.6rem;
      line-height: 3rem;
    }

    &__menu {
      padding-top: 1.7rem;
      line-height: 3rem;

    }

    &__networks {
      padding: 3rem 0rem;
    }

    &__copy {
      font-size: 1.4rem;

      &__text {
        height: 3rem;
      }

      &__heart {
        color: $buttonColor;
      }
    }
  }

}

@media all and(min-width:768px) {
  .footer {
    padding: 0.1rem 3.9rem 4.5rem 3.9rem;

    &__links {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;

      &__menu {
        order: 2;
        width: 21rem;
        padding: 0 3rem;
      }

      &__networks {
        order: 1;
        padding: 0;
        width: 21rem;
      }

      &__copy {
        width: 21rem;
        order: 3;
      }
    }
  }
}

@media all and(min-width:1024px) {
  .footer {
    padding: 0rem auto 4.5rem auto;
  }
  &__menu,
  &__networks,
  &__copy{
    width:15.9rem;
  }

}
