.section {
  background: #eff9ff;
  text-align: center;
  padding: 3rem 1.5rem 6rem 1.5rem;

  &__h2 {
    font-size: 2.4rem;
    text-transform: capitalize;
    font-family: $titleText;

  }

  &__grid {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    font-family: $titleText;
    padding: 4.5rem 5.5rem;
  }

  &__reasons {
    margin-bottom: 4.5rem;
    line-height: 3rem;;

    &__h3 {
      font-size: 1.8rem;
      font-family: $titleText;
    }

    &__p {
      font-size: 1.8rem;
      font-family: $fontText;
    }
  }

  &__button {
    width: 18.4rem;
    height: 4.5rem;
    background: $buttonColor;
    border-radius: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &--text {
      color: white;
      font-size: 2rem;
      font-family: $fontText;
    }
  }
}

@media all and (min-width:768px) {
  .section {
    padding: 3rem 4rem 6rem 3.57rem;

    &__h2 {
      font-size: 2.6rem;
      padding-bottom: 4.5rem;
    }

    &__grid {
      display: grid;
      padding: 0;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2.77rem;

    }

    &__reasons {
      &__h3 {
        font-size: 2.4rem;
        padding-bottom: 1.4rem;
      }

      &__p {
        font-size: 2rem;
      }
    }
    &__button{
      width: 21rem;
    }

  }
}

@media all and (min-width:1024px) {
  .section {
    padding: 6rem 8.5rem;
    &__h2{
      font-size: 3.2rem;
    }

    &__grid {
      display: grid;
      grid-template-rows: 11.2rem;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 6rem;

    }
    &__button{
      width: 25.5rem;
    }

  }
}
